<section id="header">
	<header>
		<span class="image avatar"><img src="../static/images/avatar.jpg" alt="" /></span>
		<h1 id="logo"><a href="{{ url_for('.index') }}">Daniel Zhao</a></h1>
		<p>Code, Eat, Run</p>
	</header>
	<nav id="nav">
		<ul>
			<li><a href="{{ url_for('.index') }}#about" class="active">About Me</a></li>
			<li><a href="{{ url_for('.index') }}#skills">Things I Do Well</a></li>
			<li><a href="{{ url_for('.index') }}#projects">A Few Projects</a></li>
            <li><a href="http://1kgmore.org" target="_blank">1KG More</a></li>
		</ul>
	</nav>
	<footer>
		<ul class="icons">
			<li><a href="https://twitter.com/danni1990" class="icon fa-twitter" target="_blank"><span class="label">Twitter</span></a></li>
			<li><a href="https://github.com/dazhaoniel" class="icon fa-github" target="_blank"><span class="label">Github</span></a></li>
			<li><a href="mailto:daniel@danielatwork.com" class="icon fa-envelope" target="_blank"><span class="label">Email</span></a></li>
		</ul>
	</footer>
</section>