<link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
<script src="http://code.jquery.com/jquery-1.12.1.min.js"></script>
<script src="../static/assets/js/jquery.scrollzer.min.js"></script>
<script src="../static/assets/js/jquery.scrolly.min.js"></script>
<script src="../static/assets/js/skel.min.js"></script>
<script src="../static/assets/js/util.js"></script>
<!--[if lte IE 8]><script src="../static/assets/js/ie/respond.min.js"></script><![endif]-->
<script src="../static/assets/js/main.js"></script>