<!DOCTYPE HTML>
<html>
	<head>
		<title>Daniel Zhao (赵婧仪) - Portfolio</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="../static/assets/js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="../static/assets/css/main.css" />
		<!--[if lte IE 8]><link rel="stylesheet" href="../static/assets/css/ie8.css" /><![endif]-->
		<link rel="shortcut icon" href="../static/images/favicon.ico" type="image/x-icon"/ >
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
	</head>
	<body>

		<!-- Header -->
			<section id="header">
				<header>
					<span class="image avatar"><img src="../static/images/avatar.jpg" alt="" /></span>
					<h1 id="logo"><a href="/">Daniel Zhao</a></h1>
					<p>Code, Eat, Run</p>
				</header>
				<nav id="nav">
					<ul>
						<li><a href="#about" class="active">About Me</a></li>
						<li><a href="#skills">Things I Do Well</a></li>
						<li><a href="#projects">A Few Projects</a></li>
                        <li><a href="http://1kgmore.org" target="_blank">1KG More</a></li>
					</ul>
				</nav>
				<footer>
					<ul class="icons">
						<li><a href="https://twitter.com/danni1990" class="icon fa-twitter" target="_blank"><span class="label">Twitter</span></a></li>
						<li><a href="https://github.com/dazhaoniel" class="icon fa-github" target="_blank"><span class="label">Github</span></a></li>
						<li><a href="mailto:daniel@danielatwork.com" class="icon fa-envelope" target="_blank"><span class="label">Email</span></a></li>
					</ul>
				</footer>
			</section>

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Main -->
					<div id="main">
					{% block content %}{% endblock %}
					</div>
				<!-- Footer -->
					<section id="footer">
						<div class="container">
							<ul class="copyright">
								<li>&copy; 2012 - {{ year }} Daniel Zhao (赵婧仪) - Portfolio. All rights reserved.</li>
							</ul>
						</div>
					</section>

			</div>

		<!-- Scripts -->
			<link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
			<script src="http://code.jquery.com/jquery-1.12.1.min.js"></script>
			<script src="../static/assets/js/jquery.scrollzer.min.js"></script>
			<script src="../static/assets/js/jquery.scrolly.min.js"></script>
			<script src="../static/assets/js/skel.min.js"></script>
			<script src="../static/assets/js/util.js"></script>
			<!--[if lte IE 8]><script src="../static/assets/js/ie/respond.min.js"></script><![endif]-->
			<script src="../static/assets/js/main.js"></script>

	</body>
</html>