<!DOCTYPE HTML>
<html>
	<head>
		<title>Daniel Zhao (赵婧仪) - Web &amp; Mobile Developer Based In New York City</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">
		<meta name="description" content="Daniel Zhao is a Web Developer and Mobile Developer based in New York City.">
		<meta name="keywords" content="android developer, WordPress, Pilot Fish, web developer, Freelance, Rensselaer Polytechnic Institute, responsive website, Non Profit Organizations, Daniel Zhao">
		<meta name="author" content="Daniel Zhao">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<!--[if lte IE 8]><script src="../static/assets/js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="../static/assets/css/main.css" />
		<!--[if lte IE 8]><link rel="stylesheet" href="../static/assets/css/ie8.css" /><![endif]-->
		<link rel="shortcut icon" href="../static/images/favicon.ico" type="image/x-icon"/ >
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
	</head>
	<body>
		<!-- Header -->
		{% if request.path == "/" %}
			{% include "_navigation.html" %}
		{% else %}
			{% include "_navigation2.html" %}
		{% endif %}

		<!-- Wrapper -->
		<div id="wrapper">
			<!-- Main -->
			<div id="main">
			{% block content %}{% endblock %}
			</div>
			<!-- Footer -->
			<section id="footer">
				<div class="container">
					<ul class="copyright">
						<li>&copy; 2012 - {{ current_year() }} Daniel Zhao (赵婧仪) - Portfolio. All rights reserved.</li>
					</ul>
				</div>
			</section>
		</div>
		<!-- Scripts -->
		{% include "_scripts.html" %}
	</body>
</html>