{% extends "base.html" %}
{% block content %}
<!-- About -->
<section id="about">
	<div class="container">
		<header class="major">
			<h2>&amp;about</h2>
		</header>
        <p>Hello. I'm Daniel and I work at <a href="http://www.dowjones.com" target="_blank">Dow Jones</a> as an Application Developer, where I work on <a href="http://www.wsj.com/pro/" target="_blank">WSJ Pro</a>, blogs and <a href="http://www.wsj.com/newsletters" target="_blank">newsletters</a>. On the weekends, I like distance running, movies, eating out, coding personal projects, practicing handstands and shopping. Before New York City, I lived in Upstate New York and Japan. I was born and raised in China.</p>
        <p>In my spare time I have been working on my latest project <a href="http://1kgmore.org" target="_blank">1KG More</a> — a website built exclusively for nonprofit organizations that want to minimize operating cost. 1KG More allows nonprofit organizations to post project destinations, along with a list of items that could be used or are needed for the project. Travelers who happen to travel to the same destination can sign up and choose how much and what they are willing to carry (for the organization), starting at 1kg.</p>
        <p>1KG More was born because I want to do more when I travel. I always wanted to carry school supplies to fill in the extra space in my luggage.</p>
        <p>And I believe everyone has something to contribute in their spare time.</p>
	</div>
</section>

<!-- Skills -->
<section id="skills">
	<div class="container">
		<h3>Things I Do Well</h3>
		<p>Here are some of the applications and development tools I'm most familiar with:</p>
		<ul class="feature-icons">
            <li class="fa-terminal">Python, PHP and Java</li>
            <li class="fa-code">Django, HTML and CSS</li>
			<li class="fa-wordpress">WordPress Themes and Plugins</li>
			<li class="fa-database">MySQL and PostgreSQL</li>
			<li class="fa-envelope">XSLT</li>
			<li class="fa-android">Android</li>
		</ul>
		<p>Heroku is my choice for project hosting, and python is my favorite scripting language. This is because of its elegance, and the fact that I don't have to deal with brackets and semicolons. I also have working knowledge of JavaScript, some Node.js based frameworks and NoSQL databases. I'm always thinking about new project ideas and how to put my knowledge into good practice.</p>
        <p>Besides Chinese (my native language), I also speak English (for the past 6 years), Spanish <a href="https://en.wikipedia.org/wiki/Common_European_Framework_of_Reference_for_Languages" target="_blank">(CEFR Level B2)</a> and Japanese <a href="http://www.jlpt.jp/e/about/levelsummary.html" targte="_blank">(JLPT N1)</a>.</p>
	</div>
</section>

<!-- Projects -->
<section id="projects">
	<div class="container">
		<h3>A Few Projects</h3>
		<p>Here are some projects from either my hobbies or job. FYI, there are some projects not listed because they are in early stage development, or not ready to showcase.</p>
		<div class="features">
			{% for entry in entries %}
			<article>
				<a href="{{ entry.url }}" target="_blank" class="image"><img src="{{ entry.image_url }}" alt="" /></a>
				<div class="inner">
					<h4>{{ entry.name }}</h4>
					<h5>{{ entry.year }}</h5>
				</div>
				<p>{{ entry.description|safe }}</p>
				<p><b>Stack:</b> {{ entry.dp_stack }}</p>
			</article>
				{% endfor %}
		</div>
	</div>
</section>
{% endblock %}