<!DOCTYPE HTML>
<html>
	<head>
		<title>Daniel Zhao (赵婧仪) - Portfolio</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="../static/assets/js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="../static/assets/css/main.css" />
		<!--[if lte IE 8]><link rel="stylesheet" href="../static/assets/css/ie8.css" /><![endif]-->
		<link rel="shortcut icon" href="../static/images/favicon.ico" type="image/x-icon"/ >
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
	</head>
	<body>

		<!-- Header -->
			<section id="header">
				<header>
					<span class="image avatar"><img src="../static/images/avatar.jpg" alt="" /></span>
					<h1 id="logo"><a href="#">Daniel Zhao</a></h1>
					<p>Code, Eat, Run, Repeat</p>
				</header>
				<nav id="nav">
					<ul>
						<li><a href="#about" class="active">About Me</a></li>
						<li><a href="#skills">Things I Do Well</a></li>
						<li><a href="#projects">A Few Projects</a></li>
                        <li><a href="http://1kgmore.org" target="_blank">1KG More</a></li>
					</ul>
				</nav>
				<footer>
					<ul class="icons">
						<li><a href="https://twitter.com/danni1990" class="icon fa-twitter" target="_blank"><span class="label">Twitter</span></a></li>
						<li><a href="https://github.com/dazhaoniel" class="icon fa-github" target="_blank"><span class="label">Github</span></a></li>
						<li><a href="mailto:daniel@danielatwork.com" class="icon fa-envelope" target="_blank"><span class="label">Email</span></a></li>
					</ul>
				</footer>
			</section>

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Main -->
					<div id="main">

						<!-- About -->
							<section id="about">
								<div class="container">
									<header class="major">
										<h2>&amp;about</h2>
									</header>
                                    <p>Hello. I'm Daniel and I work at <a href="http://www.dowjones.com" target="_blank">Dow Jones</a> as an Application Developer, where I’m working on <a href="http://www.wsj.com/pro/" target="_blank">WSJ Pro</a>, blogs and newsletters everyday. On weekends, I like distance running, movies, eating out, coding personal projects, practicing handstands and shopping. Before New York, I have lived in Upstate New York and Japan. I was born and raised in China.</p>
                                    <p>In my spare time, I have been working on my latest project <a href="http://1kgmore.org" target="_blank">1KG More</a> — a website built exclusively for nonprofit organizations that want to minimize operating cost. 1KG More is a simple tool that allows nonprofit organizations to post project destinations, along with a list of items that could be used or need for the project. Travelers who happen to travel to the same destination can sign up and choose how much and what they are willing to carry (for the organization), starting at 1kg.</p>
                                    <p>1KG More was born because I wanted to do more when I travel. I wanted to carry school supplies to fill in the extra space in my luggage.</p>
                                    <p>And I believe everyone has something to contribute in their spare time.</p>
                                    <!-- <p>By the way, I am looking for a new job opportunity. I have been itching for an environment change for a few months; something that challenges and inspires a bit more than my current office gig. If you can help me in my quest, feel free to get in touch.</p> -->
								</div>
							</section>

						<!-- Skills -->
							<section id="skills">
								<div class="container">
									<h3>Things I Do Well</h3>
									<p>Here are some of the applications and development tools I'm most familiar with:</p>
									<ul class="feature-icons">
                                        <li class="fa-terminal">Python, PHP and Java</li>
                                        <li class="fa-code">Django, HTML and CSS</li>
										<li class="fa-wordpress">WordPress Themes and Plugins</li>
										<li class="fa-database">MySQL and PostgreSQL</li>
										<li class="fa-envelope">XSLT</li>
										<li class="fa-android">Android</li>
									</ul>
									<p>Heroku is my choice of project hosting and python is my favorite scripting language because it's elegant and I don't have to deal with brackets and semicolons. I also have working knowledge of JavaScript, some Node.js based frameworks and NoSQL databases. I'm always thinking about new project ideas to put my knowledge into practice.</p>
                                    <p>Besides Chinese (my native language) I also speak English (for the past 6 years), Spanish <a href="https://en.wikipedia.org/wiki/Common_European_Framework_of_Reference_for_Languages" target="_blank">(CEFR Level B2)</a> and Japanese <a href="http://www.jlpt.jp/e/about/levelsummary.html" targte="_blank">(JLPT N1)</a>.</p>
								</div>
							</section>

						<!-- Projects -->
							<section id="projects">
								<div class="container">
									<h3>A Few Projects</h3>
									<p>Here are some of my projects done between my hobby and my job. FYI, there are "more" projects not listed because they are premature, underdeveloped, or not ready for showcasing.</p>
									<div class="features">
										<article>
											<a href="http://1kgmore.org" target="_blank" class="image"><img src="../static/images/temp_1kgmore.jpg" alt="" /></a>
											<div class="inner">
												<h4>1KG More</h4>
												<h5>2015 - Present (Under Construction)</h5>
											</div>
											<p>1KG More is a simple tool that allows nonprofit organizations to post project destinations, along with a list of items that could be used or need for the project. Travelers who happen to travel to the same destination can sign up and choose how much and what they are willing to carry (for the organization), starting at 1kg.</p>
											<p><b>Stack:</b> Django, Python, PostgreSQL, Celery, AngularJS</p>
										</article>
										<!-- <article>
											<a href="#" class="image"><img src="../static/images/pic03.jpg" alt="" /></a>
											<div class="inner">
												<h4>WSJ Blogs and Newsletters Products</h4>
												<h5>2014 - Present</h5>
											</div>
											<p>Integer eu ante ornare amet commetus vestibulum blandit integer in curae ac faucibus integer adipiscing ornare amet.</p>
										</article> -->
										<article>
											<a href="https://play.google.com/store/apps/details?id=com.wheresmycar" target="_blank" class="image"><img src="../static/images/wheres_my_car.png" alt="" /></a>
											<div class="inner">
												<h4>Where's My Car Android App</h4>
												<h5>2013</h5>
											</div>
											<p>Where’s My Car is an easy to use app with an intuitive interface that remembers where you parked you car and helps you find it. The app's features include: save your car’s location, view road and satellite maps and open saved locations in your phone’s navigation.</p>
											<p><a href="https://play.google.com/store/apps/details?id=com.wheresmycar" target="_blank">Where's My Car on Google Play</a></p>
											<p><b>Stack:</b> Android, Java</p>
										</article>
										<article>		
											<a href="https://wordpress.org/themes/pilot-fish/" target="_blank" class="image"><img src="../static/images/pilot-fish-responsive-showcase-presentation-1024x635.png" alt=""/></a>
											<div class="inner">
												<h4>Pilot Fish WordPress Theme</h4>
												<h5>2012</h5>
											</div>
											<p>Voted as one of the <strong>40 Best Free Responsive WordPress Themes for 2012</strong>, Pilot Fish is a minimal and elegant WordPress portfolio theme. It is inspired by the novel <a href="https://ja.wikipedia.org/wiki/パイロットフィッシュ_%28小説%29" target="_blank">『パイロットフィッシュ』(by Osaki Yoshio)</a> I read while living in Sendai, Japan. It is said that a pilot fish is the fish you keep in the fish tank before a tropical fish, so as to develop a sustainable environment for which to thrive later. I call my first WordPress theme Pilot Fish hoping this will help me learn more about WordPress and make better themes in the future.</p>
											<p><a href="https://wordpress.org/themes/pilot-fish/" target="_blank">Pilot Fish On WordPress</a></p>
											<p><a href="https://www.zimilate.com/members/spheres/536a8263e4b0045227bce6a1/everything" target="_blank">A Few Websites Made With Pilot Fish</a></p>
											<p><b>Stack:</b> WordPress, PHP, HTML, CSS</p>
										</article>
									</div>
								</div>
							</section>
					</div>

				<!-- Footer -->
					<section id="footer">
						<div class="container">
							<ul class="copyright">
								<li>&copy; 2012 - 2016 Daniel Zhao - Portfolio. All rights reserved.</li>
							</ul>
						</div>
					</section>

			</div>

		<!-- Scripts -->
			<link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
			<script src="../static/assets/js/jquery.min.js"></script>
			<script src="../static/assets/js/jquery.scrollzer.min.js"></script>
			<script src="../static/assets/js/jquery.scrolly.min.js"></script>
			<script src="../static/assets/js/skel.min.js"></script>
			<script src="../static/assets/js/util.js"></script>
			<!--[if lte IE 8]><script src="../static/assets/js/ie/respond.min.js"></script><![endif]-->
			<script src="../static/assets/js/main.js"></script>

	</body>
</html>